<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard: {{ current_user.id }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style>
    body,html{
        height:100%;
    }

    .h-90{
        height:90%;
    }

    .h-80{
        height:80%;
    }

    .h-10{
        height:10%;
    }

    </style>
</head>

<body onload="relayUserTime('{{ current_user.fname }}')">
<div class="container-fluid h-90 bg-dark text-dark">
    <div class="row h-90 justify-content-center align-items-center">
        <div class="col-3"></div>
        <div class="col-md-6 text-left">
            <div class="card text-center">
                <h2 class="card-title mt-5" id="time"></h2>
                <div class="card-body">
                    email: {{ current_user.email }}
                        <br>
                    license: {{ current_user.license.key }}
                </div>
                <div class="row mt-2">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">

                        <!--License management widget-->
                        <div class="card">
                            {% if current_user.license.key == None %}
                            <div class="card-body">
                                <h5 class="card-title">No license currently bound</h5>
                                <div class="card-text">
                                    {% if lerror %}
                                    <p class="error text-danger"><strong>Error:</strong> {{ lerror }}
                                        {% endif %}
                                    <form action="" method="post">
                                        <input type="text" class="form-control" name="licenseid" placeholder="License Key">
                                        <button type="submit" class="btn btn-primary mt-2">Bind to this account</button>
                                    </form>
                                </div>
                            </div>
                            {% else %}
                            <div class="card-body">
                                <h5 class="card-title">License Information</h5>
                                <p class="card-text">key: {{ current_user.license.key }}</p>
                                <p class="card-text">status: bound to device MacbookPro</p>
                                <a href="#" class="btn btn-primary">Unbind from MacbookPro</a>
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">asdasdasd</h5>
                                <p class="card-text">asdasdasd</p>
                                <a href="#" class="btn btn-primary">nionionoin</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <a href="/logout" class="text-muted"> or logout from account {{ current_user.id }} </a>
                    </div>
                </div>
                <div class="row mt-3">
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div class="container-fluid h-10 bg-dark text-light ">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center align-bottom">
            SaaS distrubution system by Tom Holland :)
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
<script>
function relayUserTime(user){
    var time = new Date().getHours();
    if (0<time && time<12) {
        document.getElementById("time").innerHTML = "Good morning " + user + " !" ;
    } else if (12<time && time<17) {
        document.getElementById("time").innerHTML = "Good afternoon " + user + " !" ;
    } else {
        document.getElementById("time").innerHTML = "Good evening " + user + " !" ;
    }
}

</script>
</html>