<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard: {{ current_user.id }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/dashboardaccount.css') }}">
</head>

<body>
<div class="container-fluid h-90 bg-dark text-dark">
    <div class="row h-90 justify-content-center align-items-center">
        <div class="col-3"></div>
        <div class="col-md-6 text-left">
            <div class="card">

                <p class="card-title mt-3 ml-3 text-align:left"><a href="/dashboard"><i class="fas fa-long-arrow-alt-left"></i></a><span class="mr-3"  style="float:right;"> Edit your account (logged in as {{ current_user.id }})</span></p>
                <form class="m-3" action="" method="post">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Firstname" aria-label="fname"
                               aria-describedby="basic-addon1" name="fname" value="{{current_user.fname}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Surname" aria-label="sname"
                               aria-describedby="basic-addon1" name="sname" value="{{current_user.sname}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-at"></i> </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Email" aria-label="email"
                               aria-describedby="basic-addon1" name="email" value="{{current_user.email}}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Current Password" aria-label="Cpassword"
                               aria-describedby="basic-addon" name="cpassword">
                        </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        <input type="password" class="form-control" placeholder="New Password (leave blank if no change is desired)" aria-label="New Password"
                               aria-describedby="basic-addon" name="newpassword">
                    </div>
                    {% if error %}
                    <input class="btn btn-default text-align:left" type="submit" value="Save Changes"><span class="error text-danger" style="float:right;"> {{error}}</span>
                    {% else %}
                    <input class="btn btn-default text-align:left" type="submit" value="Save Changes">
                    {% endif%}
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<div class="container-fluid h-10 bg-dark text-light ">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 text-center align-bottom">
            SaaS distrubution system by Tom Holland :)
        </div>
        <div class="col-4"></div>
    </div>
</div>
</body>
</html>