body,html{
    height:100%;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.h-90{
    height:90%;
}

.h-80{
    height:80%;
}

.h-10{
    height:10%;
}